:root {
    --primary-color: #DCD0C0;
    --secondary-color: #C0B283;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body{
    font-family: 'Poppins', sans-serif;  
    color: #373737;
    text-align: center;
}

h1,
h2,{
    margin: 0 auto;
}

.date{
    font-size: 24px;
}

.time{
    font-size: 48px;
}

 .cities {
    margin-bottom: 80px;
 }

.container h1 {
    font-size: 60px;
    line-height: 27px;
}

.container h2 {
    font-size: 48px;
}

.container{
    margin: 40px 0 40px 0;
    background-color: #F4F4F4;
    color: #373737;
    max-width: 600px;
    padding: 100px 100px 100px 100px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.container select{
    background-color: var(--secondary-color);
    font-size: 28px;
    display: block;
    margin: 60px auto;
    padding: 16px 16px;
    width: 80%;
    border: none;
    border-radius: 8px;
    text-align: center;
    border-color: var(--secondary-color);
    transition: all 100ms ease-in-out;
}

.container hr{
    color: var(--secondary-color);
    opacity: 0.5;
    margin: 60px auto;
    padding: 2px;
    width: 80%;
}

#button {
    background-color: var(--secondary-color);
    border: none;
    border-color: var(--secondary-color);
    border-radius: 8px;
    margin: 0 auto;
    font-size: 28px;
    display: block;
    padding: 20px 20px 20px 20px;
    max-width: 100%;
    color: #373737;
    text-align: center;
    transition: all 100ms ease-in-out; 
}

#button:hover {
    background-color: #373737;
    border-color: #373737;
    color: #DCD0C0;
    transition: all 100ms ease-in-out;
}

footer{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--secondary-color);
    margin:0 auto;
}

footer:hover{
    color: #373737;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}

.a{
    transition: all 100ms ease-in-out;
    text-decoration: underline;
}

.fa-linkedin{
    color: var(--secondary-color);
}

.fa-github{
    color: var(--secondary-color);
}

@media (max-width: 900px) {
 h1 {
        font-size: 34px;
        line-height: 1.5;
    }
}
